<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/shopping-cart">
          Cart
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span 
          *ngIf="cart$ | async as cart"
          class='badge badge-warning' id='lblCartCount'> {{cart.totalItemsCount}} </span>
          <!-- Shopping Cart -->
        </a>
      </li>
      <ng-template #ngIfNotLoggedIn>
      <li class="nav-item">
        <a class="nav-link" (click)="login();">Log In</a>
      </li>
    </ng-template>
      <li ngbDropdown *ngIf="appUser ; else ngIfNotLoggedIn" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{appUser.name}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/my/orders">My Orders</a>
          <ng-container *ngIf="appUser.isAdmin">
            <a  class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="admin/orders">Manage Orders</a>
            <a  class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/admin/products/manageProduct">Admin Portal</a>
          </ng-container>
          <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>