.container{
    padding-top: 40px;
}

button{
    width: inherit;
}

.no-gutters{
    justify-content: center;
}

.thumbnail{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

td{
    vertical-align: middle;
}