table, tr, td{
    word-wrap:break-word
}

button{
    text-align: center;
    margin: auto;
}

tr td:last-child {
    width: 20%;
}

table {
    width: 100%;
  }

th.mat-sort-header-sorted {
color: black;
}